<html style="transform: none;">
<html xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <div th:if="${visitor != null}">
        <title th:text="${visitor} + ', ' + 'I hope you are interested to hire me'"> </title>
    </div>

    <div th:if="${visitor == null}">
        <title> This is my CV </title>
    </div>

    <script>if ( top !== self ) top.location.replace( self.location.href );// Hey, don't iframe my iframe!</script>

    <!-- <link href="css/template.min.css" rel="stylesheet" media="screen"> -->

    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
        <script>/*@cc_on'abbr article aside audio canvas details figcaption figure footer header hgroup mark meter nav output progress section summary subline time video'.replace(/\w+/g,function(n){document.createElement(n)})@*/</script>
    <![endif]-->

    <!-- favicon -->
    <link href="favicon.png" rel="icon">

    <!-- web-fonts -->
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Style CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/template.css" rel="stylesheet" media="screen">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>.theiaStickySidebar:after {content: ""; display: table; clear: both;}</style>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar" style="transform: none;">
<div id="main-wrapper" style="transform: none;">
<!-- Page Preloader -->
<div id="preloader" style="display: none;">
    <div id="status">
        <div class="status-mes"></div>
    </div>
</div>

<div class="columns-block container" style="transform: none;">
<div class="left-col-block blocks" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
    <header class="header theiaStickySidebar" style="padding-top: 0px; padding-bottom: 0px; position: static; transform: none;">
        <div class="profile-img">
            <img src="img/275.jpg" class="img-responsive" alt="">
        </div>
        <div class="content">
            <h1>Rayhan Naufal Hendry</h1>
            <span class="lead">Amature Programmer</span>

            <div class="about-text">
                <p>
                    Greetings, my name is Naufal and I am a student of the International Class of Computer Science at
                    University of Indonesia. I was born in Jakarta, 19 September 1998. What you are reading right now
                    is my CV.
                </p>

                <p>"It's okay to be  depressed" - Mr. A</p>


                <p><img src="img/signature.png" alt="" class="img-responsive"></p>
            </div>


            <ul class="social-icon">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            </ul>
        </div>

    </header>
    <!-- .header-->
</div>
<!-- .left-col-block -->


<div class="right-col-block blocks" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
<div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
<section class="expertise-wrapper section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Expertise</h2>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Amature programming </h3>

                    <p>
                        So far, I have learned the fundementals of programming and some advance techniques to.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="expertise-item">
                    <h3>Proficient English </h3>

                    <p>
                        I have learned English since elementary and living in environments that encourages me to improve
                        my English.
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- .expertise-wrapper -->

<section class="section-wrapper skills-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Skills</h2>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="progress-wrapper">

                    <div class="progress-item">
                        <span class="progress-title">Programming</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"><span class="progress-percent"> 50%</span>
                            </div>
                        </div>
                        <!-- .progress -->
                    </div>
                    <!-- .skill-progress -->


                    <div class="progress-item">
                        <span class="progress-title">English Speaking</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%"><span class="progress-percent"> 85%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->


                    <div class="progress-item">
                        <span class="progress-title">Organisational Skills</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" style="width: 35%;"><span class="progress-percent"> 35%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->

                    <div class="progress-item">
                        <span class="progress-title">Logical Thinking</span>

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;"><span class="progress-percent"> 55%</span>
                            </div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill-progress -->

                </div>
                <!-- /.progress-wrapper -->
            </div>
        </div>
        <!--.row -->
    </div>
    <!-- .container-fluid -->
</section>
<!-- .skills-wrapper -->

<section class="section-wrapper section-experience gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title"><h2>Work Experience</h2></div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <div class="content-item">
                    <small>2018</small>
                    <h3>NONE</h3>
                    <h4>CURRENTLY FOCUSING FOR EDUCATION</h4>

                    <p>Indonesia, Depok</p>
                </div>
                <!-- .experience-item -->
            </div>
        </div>
        <!--.row-->
    </div>
    <!-- .container-fluid -->

</section>
<!-- .section-experience -->

<section class="section-wrapper section-education">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title"><h2>Education</h2></div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <div class="content-item">
                    <small>2016 - Present</small>
                    <h3>Faculty of Computer Science</h3>
                    <h4>University of Indonesia</h4>

                    <p>Indonesia, Depok</p>
                </div>
                <!-- .experience-item -->

                <div class="content-item">
                    <small>2013 - 2016</small>
                    <h3>SMA Kharisma Bangsa</h3>

                    <p>Indonesia, Tangerang Selatan</p>
                </div>
                <!-- .experience-item -->

                <div class="content-item">
                    <small>2010 - 2013</small>
                    <h3>SMP Lazuardi GIS</h3>

                    <p>Indonesia, Depok</p>
                </div>
                <!-- .experience-item -->

                <div class="content-item">
                    <small>2004 - 2010</small>
                    <h3>SD Lazuardi GIS</h3>

                    <p>Indonesia, Depok</p>
                </div>
                <!-- .experience-item -->

            </div>
        </div>
        <!--.row-->
    </div>
    <!-- .container-fluid -->

</section>
<!-- .section-education -->

<section class="section-wrapper section-interest gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Interest</h2>
                </div>
            </div>
        </div>
        <!-- .row -->

        <div class="row">
            <div class="col-md-12">
                <div class="content-item">
                    <h3>Books</h3>

                    <p>Reading up on stories is good to not just pass the time, but also broaden my view of
                        the world.</p>
                </div>
                <div class="content-item">
                    <h3>Gaming</h3>

                    <p>When you have nothing to do and feeling tired both physically and mentally, gaming is
                        a good way to take away all mt stress.</p>

                </div>
                <div class="content-item">
                    <h3>Coding</h3>

                    <p>My interest and curiosity towards computing and programing are things that draws me into
                        studying computer science.</p>
                </div>
            </div>
        </div>
        <!-- .row -->

    </div>
</section>
<!-- .section-publications -->

<section class="section-contact section-wrapper gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Contact</h2>
                </div>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <address>
                    <strong>Address</strong><br>
                    Ciputat<br>
                    Tangerang Selatan, Banten

                </address>
                <address>
                    <strong>Phone Number</strong><br>
                    +612 123 456 789
                </address>

                <address>
                    <strong>Mobile Number</strong><br>
                    987 654 321
                </address>


                <address>
                    <strong>Email</strong><br>
                    <a href="mailto:#">naufal.rayhan@gmail.com</a>
                </address>
            </div>
        </div>
        <!--.row-->
        <div class="row">
            <div class="col-md-12">
                <div class="feedback-form">
                    <h2>Get in touch</h2>

                    <form id="contactForm" action="sendemail.php" method="POST">
                        <div class="form-group">
                            <label for="InputName">Name</label>
                            <input type="text" name="name" required="" class="form-control" id="InputName" placeholder="Full Name">
                        </div>
                        <div class="form-group">
                            <label for="InputEmail">Email address</label>
                            <input type="email" name="email" required="" class="form-control" id="InputEmail" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="InputSubject">Subject</label>
                            <input type="text" name="subject" class="form-control" id="InputSubject" placeholder="Subject">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Message</label>
                            <textarea class="form-control" rows="4" required="" name="message" id="message-text" placeholder="Write message"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <!-- .feedback-form -->


            </div>
        </div>
    </div>
    <!--.container-fluid-->
</section>
<!--.section-contact-->
</div>
<!-- Sticky -->
</div>
<!-- .right-col-block -->
</div>
<!-- .columns-block -->
</div>
<!-- #main-wrapper -->

<!-- jquery -->
<script data-cfasync="false" src="/cdn-cgi/scripts/d07b1474/cloudflare-static/email-decode.min.js"></script><script src="js/jquery-1.11.3.min.js"></script>

<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<script src="js/theia-sticky-sidebar.js"></script>
<script src="js/scripts.js"></script>

</body></html>